@model StatsViewModel
@{
    Layout = "_Layout";
}
<div class="pagetitle">
    <h1>Statystyki @Model.Site.Domain</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Site" asp-action="Index">Strony</a></li>
            <li class="breadcrumb-item active">Statystyki @Model.Site.Domain</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="dashboard">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtrowanie</h5>
                    <form method="get" asp-action="View" class="row">
                        <div class="col-9 col-md-10">
                            <input type="text" asp-for="Query" class="form-control" placeholder="np.: nazwa kampanii, źródła ruchu lub adres strony"/>
                            <small><a href="#">Dowiedz się jak pisać zaawansowane zapytania</a></small>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary">Filtruj</button>
                        </div>
                    </form>
                    <h6 class="mt-3">Szybkie filtry</h6>
                    <p class="fs-0-75">
                        <a href="?Query=@@timestamp:>=now-30d" class="mx-2">Ostatnie 30 dni</a>
                        <a href="?Query=@@timestamp:>=now-60d" class="mx-2">Ostatnie 60 dni</a>
                        <a href="?Query=@@timestamp:>=now-1y" class="mx-2">Ostatni rok</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="card info-card">
                <div class="card-body">
                    <h5 class="card-title">Użytkownicy</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="background: #ffecdf; color: #ff771d;">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.Summary.TotalUsersCount.ToString("N0")</h6>
                            @if (Model.Summary.TotalUsersChange.HasValue)
                            {
                                <span class="@Model.GetChangeValueClass(Model.Summary.TotalUsersChange) small pt-1 fw-bold">@Model.Summary.TotalUsersChange%</span> <span class="text-muted small pt-2 ps-1">@Model.GetChangeValueText(Model.Summary.TotalUsersChange)</span>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card info-card">
                <div class="card-body">
                    <h5 class="card-title">Zaangażowani użytkownicy</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="color: #2eca6a; background: #e0f8e9;">
                            <i class="bi bi-person-plus"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.Summary.TotalEngagedUsersCount.ToString("N0")</h6>
                            @if (Model.Summary.TotalEngagedUsersChange.HasValue)
                            {
                                <span class="@Model.GetChangeValueClass(Model.Summary.TotalEngagedUsersChange) small pt-1 fw-bold">@Model.Summary.TotalEngagedUsersChange%</span> <span class="text-muted small pt-2 ps-1">@Model.GetChangeValueText(Model.Summary.TotalEngagedUsersChange)</span>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card info-card">
                <div class="card-body">
                    <h5 class="card-title">Odsłony</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="color: #4154f1; background: #f6f6fe;">
                            <i class="bi bi-file-code"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.Summary.TotalPageViews.ToString("N0")</h6>
                            @if (Model.Summary.TotalPageViewChange.HasValue)
                            {
                                <span class="@Model.GetChangeValueClass(Model.Summary.TotalPageViewChange) small pt-1 fw-bold">@Model.Summary.TotalPageViewChange%</span> <span class="text-muted small pt-2 ps-1">@Model.GetChangeValueText(Model.Summary.TotalPageViewChange)</span>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card info-card">
                <div class="card-body">
                    <h5 class="card-title">Długość wizyty</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="background: #fbedc2; color: #ffc107;">
                            <i class="bi bi-clock"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.Summary.AverageVisitLength</h6>
                            @if (Model.Summary.AverageVisitLengthChange.HasValue)
                            {
                                <span class="@Model.GetChangeValueClass(Model.Summary.AverageVisitLengthChange) small pt-1 fw-bold">@Model.Summary.AverageVisitLengthChange%</span> <span class="text-muted small pt-2 ps-1">@Model.GetChangeValueText(Model.Summary.AverageVisitLengthChange)</span>   
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Użytkownicy w czasie</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/LineChart.cshtml", Model.UsersInTime)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Odsłony w czasie</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/LineChart.cshtml", Model.PageViewsInTime)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Długość wizyty w czasie</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/LineChart.cshtml", Model.AverageVisitLengthInTime)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Źródła ruchu</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/PieChart.cshtml", Model.TrafficSources)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze kampanie</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.Campaigns)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze strony</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.PageViews)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze strony wejściowe</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.EntryPages)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Strony z największym zaangażowaniem</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.PagesWithMostEngagement)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze państwa</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.Countries)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze miasta</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.Cities)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Najpopularniejsze języki</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/Table.cshtml", Model.Languages)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wielkość ekranu</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/PieChart.cshtml", Model.ScreenSizes)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ekran dotykowy</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/PieChart.cshtml", Model.TouchScreens)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Przeglądarka</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/PieChart.cshtml", Model.Browsers)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System operacyjny</h5>
                    @await Html.PartialAsync("/Views/Shared/Components/PieChart.cshtml", Model.OSs)
                </div>
            </div>
        </div>
    </div>

</section>