@using StatsBro.Domain.Models.DTO

@model OrganizationUserFormModel

@{
    Layout = "_Layout";
    var usersList = ViewData["OrganizationUsersList"] != null ? (IList<OrganizationUserDTO>)ViewData["OrganizationUsersList"] : new List<OrganizationUserDTO>();
}
<div class="pagetitle">
    <h1>Zarządzanie użytkownikami</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="UsersManagement">Użytkownicy</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card col-12 col-md-12">
    <div class="card-body">
        <table class="table datatable table-hover" id="tbl-users">
            <thead>
                <tr>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Ostatnie logowanie</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in usersList!)
                {
                    <tr>
                        <td>@u.UserDTO.Email</td>
                        <td>@u.Role</td>
                        <td>@TimeFormatter(u.UserDTO.LastLoggedInAt)</td>
                        <td>
                            @if (u.Role != OrganizationUserRole.Admin)
                            {
                                <a asp-controller="Home" asp-action="UsersManagementEdit" asp-route-id="@u.UserDTO.Id"
                                    class="btn btn-outline-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay=500 title="Edycja">
                                    <i class="bi bi-pencil"></i>                                    
                                </a>    
                            }                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (ViewBag.CanAddMoreUsers ?? false)
{
    <div class="card col-12 col-md-6">
        <div class="card-body">
            <h5 class="card-title">Nowy użytkownik</h5>
            <form class="row g-3" method="post" asp-action="UsersManagement">
                @await Html.PartialAsync("/Views/Shared/ValidationErrors.cshtml")
                <div class="col-12">
                    <label for="yourEmail" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="yourEmail" value="@Model.Email" required>
                </div>

                <div class="col-12">
                    <label for="yourPassword" class="form-label">Hasło</label>
                    <input type="password" name="password" class="form-control" id="yourPassword">
                </div>
                <div class="col-12">
                    <input type="hidden" name="id" value="" />
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                </div>

            </form>
        </div>
    </div>
}

@{
    string TimeFormatter(DateTime? input)
    {
        if(!input.HasValue)
        {
            return "-";
        }

        var asUtc = DateTime.SpecifyKind(input.Value, DateTimeKind.Utc);
        return asUtc.ToLocalTime().ToString("yyyy-MM-dd HH:mm");
    }
}

@section Scripts {
    <script>
    // self executing function here
    (function() {
       // your page initialization code here
       // the DOM will be available here
       
    })();
    </script>
}